In [2]:
import pandas as pd
import numpy as np

In [4]:
orders = pd.read_excel('../BaseDados/d_sales_orders.xlsx')
report = pd.read_excel('../BaseDados/d_sales_report.xlsx')
status = pd.read_excel('../BaseDados/d_status_OTI.xlsx',skiprows=2)
unids = pd.read_excel('../BaseDados/d_unids_cx_e_pallet.xlsx')
frete = pd.read_excel('../BaseDados/f_bases_frete.xlsx', sheet_name="f_custos_frete",skiprows=2)

In [7]:
report['Net Sales']

0          2190.81
1          1970.97
2          1755.72
3          1851.92
4          1808.22
            ...
411444    27904.88
411445      -19.90
411446    11082.80
411447    43941.80
411448     5071.50
Name: Net Sales, Length: 411449, dtype: float64

In [14]:
frete.head()

,Date de Cobrança,Data Emissão Nota Fiscal,Nota Fiscal,Conhecimento,Divisão,Modalidade,Tabela Aplicada,Tipo de Serviço,Tipo de Veiculo,Veiculo,...,Sefaz,Coleta,Despacho,Emex,Endereço Adicional,Entrega,Frete Canhoto,Frete Liquido,ICMS,Frete Bruto
0,2022-09-01,2022-06-06,368366,387394,EPD,RODOVIARIO,Convencional,DEVOLUCAO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.428964
1,2022-09-01,2022-09-08,387739,168859,AN,RODOVIARIO,Convencional,ENTREGA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.43,348.970000
2,2022-09-01,2022-09-12,388393,173870,AN,RODOVIARIO,Convencional,ENTREGA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.43,348.970000
3,2022-09-01,2022-09-14,389290,177523,AN,RODOVIARIO,Convencional,ENTREGA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.93,456.180000
4,2022-09-01,2022-09-16,390067,181634,AN,RODOVIARIO,Convencional,ENTREGA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.26,132.320000

In [16]:
frete.shape

(56309, 61)

In [15]:
for column in frete.columns:
    print(frete[column].value_counts())

Date de Cobrança
2023-03-01    5591
2022-11-01    4919
2023-05-01    4903
2023-02-01    4709
2023-07-01    4432
2022-09-01    4043
2023-04-01    3975
2023-10-01    3947
2022-10-01    3906
2023-08-01    3900
2023-06-01    3673
2023-09-01    3195
2023-01-01    3065
2022-12-01    2051
Name: count, dtype: int64
Data Emissão Nota Fiscal
2023-03-17    486
2022-10-28    462
2023-02-24    362
2023-07-28    343
2023-04-13    272
             ...
2022-08-03      1
2023-01-02      1
2022-08-11      1
2022-12-29      1
2022-06-06      1
Name: count, Length: 318, dtype: int64
Nota Fiscal
403023    4
423503    4
410795    4
403025    4
403024    4
         ..
413053    1
413338    1
413395    1
413545    1
18996     1
Name: count, Length: 54622, dtype: int64
Conhecimento
90058            57
9499             56
45502            54
43232            54
 001000398370    53
                 ..
44650             1
44214             1
43271             1
48340             1
11270             1
Name: count, Length: 26871, dtype: int64
Divisão
EPD    41419
AN     14890
Name: count, dtype: int64
Modalidade
RODOVIARIO    55244
AEREO          1065
Name: count, dtype: int64
Tabela Aplicada
Convencional    55418
Dedicado          891
Name: count, dtype: int64
Tipo de Serviço
ENTREGA         55109
DEVOLUCAO         782
REENTREGA         361
COMPLEMENTAR       57
Name: count, dtype: int64
Tipo de Veiculo
Fracionado                21374
AGENDAMENTO                4440
ABBOTT  ( AGENDAMENTO)     1264
DEVOLUÇÃO                   281
TOCO                        167
Devolução                   114
AJUDANTE                    103
Reentrega                    82
Fiorino                      69
Truck                        49
DEVOLUCAO                    45
 3/4                         35
Aereo                        34
COMPLEMENTAR                 32
VUC                          27
3/4.                         26
CARRETA                      23
ABBOTT ( DEDICADO)           18
SPOT                          7
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Processo
Outbound    56309
Name: count, dtype: int64
Transportadora
Andreani     28190
Solistica    27559
TA             560
Name: count, dtype: int64
CNPJ do Destinatario
45453214001808    3665
65817900000171    1465
56998701003301    1301
5782733000149     1296
5782733000300     1147
                  ...
75299437749          1
25240038848          1
26067292858          1
9859975752           1
46374500017240       1
Name: count, Length: 931, dtype: int64
Nome do Destinatario
PROFARMA DISTR PROD FARM SA       4212
RAIA DROGASIL SA                  3559
DISTR MEDIC SANTA CRUZ LTDA       1935
AGLON COMERCIO E REPREP LTDA      1465
CIAMED DISTR. DE MEDIC. LTDA      1252
                                  ...
DEUSDEDET PEREIRA JUNIOR             1
SAVIO MIRANDA FONTINELES SILVA       1
PATRICIA DE SOUZA RAMOS SANTOS       1
BRAZ JUNIOR                          1
RICARDO IVO PREUSS                   1
Name: count, Length: 1174, dtype: int64
CNPJ do Remetente
56998701003301    54989
1206820002060        53
33438250000167       50
61940292005368       50
61585865046305       46
                  ...
78302366315           1
21940274000130        1
21970855819           1
45453214002790        1
46054219000760        1
Name: count, Length: 174, dtype: int64
Nome do Remetente
ABBOTT LABORATORIOS DO BRASIL LTDA    30144
ABBOTT LABORATORIOS DO BRASIL         24845
RAIA DROGASIL SA                         77
DISTR MEDIC SANTA CRUZ LTDA              73
PANPHARMA DISTRIB DE MEDICAMENTOS        59
                                      ...
NAZARIA DISTR PROD FARM LTDA              1
IMIFARMA PROD FARMA COSM S A              1
PHARMA LOG PRODUTOS FARMACEUTICOS         1
CAIO SERRANO BARBOSA DE JESUS             1
SOLFARMA COMERCIO DE PRODUTOS             1
Name: count, Length: 198, dtype: int64
CNPJ (CALC)
45453214001808    3671
65817900000171    1474
5782733000149     1296
61940292005368    1190
5782733000300     1147
                  ...
5657003675           1
5390313640           1
982968507            1
10303822716          1
46374500017240       1
Name: count, Length: 934, dtype: int64
UF (CALC)
ES    9484
SP    8056
GO    4931
MG    4647
RS    4368
PE    3215
BA    3073
RJ    2705
CE    2592
PR    2546
SC    1726
PB    1244
MT    1240
PA    1188
RN     977
MS     910
MA     818
DF     795
AL     684
AM     561
PI     307
TO     119
AC      49
RO      29
SE      19
RR       1
Name: count, dtype: int64
Cidade (CALC)
ES-SERRA                         7658
MG-CONTAGEM                      3070
GO-APARECIDA DE GOIANIA          2193
PE-JABOATAO DOS GUARARAPES       2183
SP-LEME                          1789
                                 ...
RIO DE JANEIRO-RIO DE JANEIRO       1
RJ-BELFORD ROXO                     1
SP-MIRASSOL                         1
SP-RIBEIRÃO PRETO                   1
RN-SAO GONCALO DO AMARANTE          1
Name: count, Length: 181, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Paletização?
Não    19175
SIM     8432
NÃO      512
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
TDE?
Sim    41122
Não    14892
NÃO      295
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Peso
10.620     838
9.984      272
4.048      271
12.504     265
21.240     209
          ...
44.064       1
91.884       1
97.944       1
8.796        1
187.750      1
Name: count, Length: 20974, dtype: int64
Range Peso
500Kg     8951
>1000     8771
200Kg     6851
1000Kg    5883
3Kg       3673
100Kg     3231
10Kg      3170
70Kg      2920
15Kg      2776
40Kg      2058
20Kg      1834
50Kg      1716
25Kg      1471
5Kg       1389
30Kg      1346
>200kg     184
150kg       85
Name: count, dtype: int64
Volumes
1      15273
2       6828
3       3930
4       2928
5       2261
       ...
315        1
369        1
535        1
649        1
542        1
Name: count, Length: 565, dtype: int64
Valor NF
180.02       106
744.09        88
135.01        81
360.03        80
984.08        79
            ...
43888.76       1
332457.78      1
2539.41        1
264185.55      1
29112.92       1
Name: count, Length: 39026, dtype: int64
Frete Peso
0.000000      998
22.100000     450
34.880000     388
29.510000     348
26.350000     340
             ...
244.284130      1
9.101701        1
14.204169       1
14.005943       1
336.704868      1
Name: count, Length: 41045, dtype: int64
Frete Valor
0.000000       1004
2.090000        104
2.020000         86
1.010000         76
0.380000         70
               ...
319.861754        1
280.696867        1
303.868680        1
95.958522         1
1434.796050       1
Name: count, Length: 46511, dtype: int64
Ad Valorem
0.000000      1465
1.120000       115
0.200000       103
1.080000        89
0.540000        76
              ...
0.140125         1
126.910368       1
24.179632        1
0.001755         1
15.580000        1
Name: count, Length: 18122, dtype: int64
Gris
0.000000      1066
0.970000       107
0.940000        84
0.230000        74
0.180000        73
              ...
96.575106        1
293.174398       1
7.996780         1
53.311850        1
9.470000         1
Name: count, Length: 18604, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
AGE
0.000000     11796
36.750000     1635
18.375000     1245
12.250000     1096
9.187500       932
7.350000       845
6.125000       626
5.250000       383
4.593750       349
4.083333       255
3.340909       165
3.062500       144
2.450000       135
2.161765       134
3.675000       131
2.296875       128
1.225000       120
0.680556       108
2.625000       108
1.361111       108
1.470000       100
1.531250        93
2.041667        90
0.942308        77
1.934211        76
0.993243        74
1.113636        66
1.670455        66
1.750000        63
1.312500        54
0.693396        53
2.826923        52
0.706731        52
0.720588        51
0.765625        48
0.798913        46
1.597826        46
0.816667        45
0.854651        43
1.080882        34
1.148438        32
1.185484        31
1.267241        28
1.413462        26
15.473684       19
19.480000       13
3.896000         9
6.493333         9
4.870000         8
15.750000        7
3.246667         6
9.740000         4
24.500000        3
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
TDE
0.000000     21739
73.500000     4036
36.750000     3102
18.375000     2071
24.500000     1938
             ...
9.371667         6
11.246000        5
7.792000         4
22.050000        3
2.420000         1
Name: count, Length: 101, dtype: int64
Ajudante
0.0    5380
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Paletização
0.000000     28578
42.480000      979
44.130000      498
21.240000       66
39.750000       53
             ...
7.000472         1
5.603104         1
27.146425        1
3.538157         1
76.110000        1
Name: count, Length: 5768, dtype: int64
Pedagio
5.040000     5711
0.000000     2337
5.050000     2110
4.730000     1680
5.240000     1128
             ...
4.077499        1
0.096516        1
0.523623        1
0.128110        1
10.418575       1
Name: count, Length: 36444, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
ICMS
5.010000      77
0.000000      73
0.923333      72
2.770000      65
0.554000      55
              ..
0.946618       1
108.841948     1
3.527113       1
6.832480       1
6.672581       1
Name: count, Length: 45912, dtype: int64
Frete Bruto
13.173333     72
39.520000     68
41.760000     66
218.162300    60
7.904000      55
              ..
3.693774       1
3.578290       1
311.395244     1
223.232880     1
95.322581      1
Name: count, Length: 50758, dtype: int64

In [26]:
status.shape

(50295, 4)

In [19]:
status.head()

   Concatenado(1) Status Geral Status Consolidado  Sum of Peso
0    114990294360    Bloqueado        Blq Divisão          4.0
1     11502819850    Bloqueado        Blq Crédito          1.0
2     11504549210    Bloqueado        Blq Divisão         10.0
3     11504549210    Bloqueado        Blq Crédito          1.0
4     11504549210     BO Geral           BO Geral          3.0

In [21]:
for column in status.columns:
    print(status[column].value_counts())

Concatenado(1)
115722715160    7
115722715260    7
11568390520     6
11572271560     6
11572271520     5
               ..
115687292300    1
11568729230     1
115687292270    1
115687292250    1
11591360210     1
Name: count, Length: 38086, dtype: int64
Status Geral
Bloqueado    28763
Liberado     13013
BO Geral      7427
Restrito      1092
Name: count, dtype: int64
Status Consolidado
Blq Divisão                                     14752
Delivery Gerada                                  8020
BO Geral                                         7377
Bloqueio EDI                                     7262
Liberado                                         4993
Ag Aprov Preço e/ou Prazo                        2272
Blq Crédito                                      1454
Estoque Restrito                                 1140
Ag Espelho do Pedido                             1006
Data Futura                                       727
Ag. Cadastro                                      477
Lote não consignado                               310
Ag. Validação de Preço                            230
Blq Validade Curta                                137
Manutenção de Pedido                               73
Descontinuado                                      61
Pedido Teste EDI                                    3
Aguardando Consolidação/Aprovação de Pedidos        1
Name: count, dtype: int64
Sum of Peso
0.98     12285
1.00      9525
0.99      7069
2.00      4012
5.00      3093
         ...
19.19        1
6.86         1
2.97         1
11.11        1
14.70        1
Name: count, Length: 62, dtype: int64

In [27]:
report.shape

(411449, 29)

In [23]:
report.head()

,14,AN,56626135,RIOMEDICA RIO PRETO LTDA,31221,115450724,ZOR,Standard Order,#,614830374,...,120,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,1970.97.1,1970.97.2,120.1,120.2
0,14,AN,56626135,RIOMEDICA RIO PRETO LTDA,31221,115450724,ZOR,Standard Order,#,614830374,...,504,NaN,NaN,NaN,NaN,NaN,1755.72,1755.72,504.0,504
1,14,AN,56626135,RIOMEDICA RIO PRETO LTDA,31221,115450724,ZOR,Standard Order,#,614830374,...,120,NaN,NaN,NaN,NaN,NaN,1851.92,1851.92,120.0,120
2,14,AN,56626135,RIOMEDICA RIO PRETO LTDA,31221,115450724,ZOR,Standard Order,#,614830374,...,504,NaN,NaN,NaN,NaN,NaN,1808.22,1808.22,504.0,504
3,14,AN,56626135,RIOMEDICA RIO PRETO LTDA,31221,115450724,ZOR,Standard Order,#,614830374,...,120,NaN,NaN,NaN,NaN,NaN,1795.76,1795.76,120.0,120
4,14,AN,56626135,RIOMEDICA RIO PRETO LTDA,31221,115450724,ZOR,Standard Order,#,614830374,...,480,NaN,NaN,NaN,NaN,NaN,7490.56,7490.56,480.0,480

In [25]:
for column in report.columns:
    print(report[column].value_counts())

Division
22    325148
14     86301
Name: count, dtype: int64
Division Ds
EPD    325148
AN      86301
Name: count, dtype: int64
Customer
56629490    24650
56627504    16419
56627519     8967
56629435     6263
56628191     4912
            ...
56627379        1
56628549        1
56731228        1
56731823        1
56734947        1
Name: count, Length: 1961, dtype: int64
Customer Ds
PROFARMA DISTR PROD FARM SA            47527
DISTR MEDIC SANTA CRUZ LTDA            39852
PANPHARMA DISTRIB DE MED LTDA          20749
PANPHARMA DISTRIB DE MEDICAMENTOS L    16826
RAIA DROGASIL SA                       15502
                                       ...
MARCOS ANTONIO FARIA FREITAS               1
ANA JULIA COLOAMCO PINNA FERREIRA          1
FABIO MONTICO                              1
FRANCISCO DE ASSIS DIAS                    1
VACIN CLINICA DE IMUNIZACOES LTDA          1
Name: count, Length: 1733, dtype: int64
PO number
EPD_C02_LC              3633
EPD_C01_LC_OFC          2862
EPD_C09_PRISMA_ZICU_    1440
EPD_C06_AVANTT          1257
EPD_C06_CONECTA         1232
                        ...
DEVOLUCAO 425473           1
L109012-3157               1
10517482001                1
DEVOLUCAO 2399660          1
L105834-08/2022            1
Name: count, Length: 55916, dtype: int64
Sales document
116448987    128
119538492    126
115905735    112
116279481     87
118435051     87
            ...
301251824      1
301259884      1
301263571      1
301170797      1
117939561      1
Name: count, Length: 73501, dtype: int64
Sales doc. type
ZOR     327143
ZFD      74146
ZRE2      7331
ZRER      2823
ZKB          6
Name: count, dtype: int64
Sales doc. type Ds
Standard Order         327143
Free of Charge          74146
Advanced Returns         7331
Standard Refusal         2823
Consignment Fill-up         6
Name: count, dtype: int64
Order Reason
#      326629
Z79     73831
Y42      2439
Y41      1887
Z58      1136
Z53       787
Z43       523
Z64       500
Z59       442
Z14       408
Z44       375
Y34       288
Z52       283
Y38       277
Z66       259
Z65       225
Z97       216
Y13       211
Z76       171
Y70       150
Y45       114
Z85       102
Y35        79
Y68        51
Z86        22
Z63        19
Z37         6
Z61         6
Z39         5
Y14         3
Y40         1
Z62         1
Y66         1
Z13         1
Y54         1
Name: count, dtype: int64
Invoice
801070308    81
615352636    78
614966659    75
615481121    72
615375196    70
             ..
616471111     1
615468944     1
615468942     1
616458085     1
616224522     1
Name: count, Length: 114124, dtype: int64
Billing Item
10     63246
20     42991
30     33757
40     29232
50     25201
       ...
792        1
502        1
192        1
801        1
322        1
Name: count, Length: 221, dtype: int64
Billing Type
F2     325444
ZF2     73140
RE       9930
S1       2711
S2        224
Name: count, dtype: int64
Billing Type Ds
Invoice                 325444
Invoice FOC              73140
Credit for Returns        9930
Cancel. Invoice (S1)      2711
Cancel of Cred Memo        224
Name: count, dtype: int64
Billing Date
2022-02-01    5459
2022-05-24    4646
2022-08-19    4393
2022-09-15    4298
2023-02-02    4020
              ...
2022-12-30       2
2022-12-27       2
2023-08-19       2
2022-12-29       2
2023-04-16       1
Name: count, Length: 482, dtype: int64
Requested Del Date
#    411449
Name: count, dtype: int64
Nota Fiscal Number
Not assigned    234
366365          128
13434            81
362757           78
348323           75
               ...
418005            1
418001            1
418111            1
417999            1
381213            1
Name: count, Length: 112688, dtype: int64
Material
20030776    5639
20030777    4629
20032122    4433
20033253    4353
20031538    4162
            ...
20002369       1
10066043       1
10002326       1
10002339       1
20036389       1
Name: count, Length: 472, dtype: int64
Material Ds
Depakene 500mg 1x50Tab BR         8242
Depakene 250mg 1x50cap BR         5639
Sof D 5000IU 1x2Cap Sample BR     4433
Sof D 50000UI 1x2Cap Sample BR    4353
Rytmonorm 300mg 6x10Tab BR        4162
                                  ...
AKINETON 2MG 100TAB CO (C1)          1
VALCOTE ER 1G 5X6TAB PY              1
VALCOTE ER 1G 1X6TAB SAMPLE PY       1
Cutisanol Baby Cream 1x30g BR        1
DEPAKENE 250MG/5ML 1x100ML UY        1
Name: count, Length: 439, dtype: int64
Net Sales
0.00       59808
1193.49      664
1348.60      650
1196.85      542
819.90       532
           ...
5882.96        1
3795.55        1
2831.98        1
552.71         1
5071.50        1
Name: count, Length: 93881, dtype: int64
Invoice Qty
12       28490
24       25191
36       15281
48       14530
112      13703
         ...
13050        1
6510         1
7770         1
7185         1
8050         1
Name: count, Length: 4393, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Return Value
 0.00       107
-1196.85     39
-1193.49     36
-49.87       28
-11.97       27
           ...
 431.92       1
-1299.94      1
-1008.00      1
-1758.25      1
-19.90        1
Name: count, Length: 6750, dtype: int64
Return Qty
-1.0       2428
-2.0       1046
-12.0       614
-3.0        580
-24.0       502
           ...
-306.0        1
-3573.0       1
-2427.0       1
-366.0        1
-1100.0       1
Name: count, Length: 552, dtype: int64
Total 1V
0.00        65911
1348.60       650
1193.49       600
819.90        498
1196.85       496
            ...
2041.79         1
24616.39        1
4029.26         1
2572.02         1
5071.50         1
Name: count, Length: 93378, dtype: int64
Total 2V
0.00        66189
1348.60       650
1193.49       607
819.90        502
1196.85       500
            ...
19628.87        1
4503.32         1
3594.65         1
5228.00         1
5071.50         1
Name: count, Length: 94540, dtype: int64
Total 1Q
 12.0      27677
 24.0      24495
 36.0      14653
 48.0      14092
 112.0     13081
           ...
-175.0         1
-86.0          1
 6667.0        1
-109.0         1
 8050.0        1
Name: count, Length: 4066, dtype: int64
Total 2Q
 12       27729
 24       24531
 36       14669
 48       14118
 112      13084
          ...
 23563        1
-624          1
 2701         1
-94           1
 8050         1
Name: count, Length: 4091, dtype: int64

In [28]:
unids.head()

,PRODUCTO,DESCRIPCION,CANTIDAD_X_UM1,CANTIDAD_X_PALLET,VOLUMES,DIVISÃO
0,10001435,PEDIASURE PO BAUNILHA 400GR,24,960,40,ANI
1,10003131,OXICARE BAUNILHA RTH 1000ML,8,576,72,ANI
2,10003142,REPLENA 237 ML,24,2112,88,ANI
3,10003168,ALITRAQ POWDER,4,408,102,ANI
4,10003174,PERATIVE 8 OZ,24,2112,88,ANI

In [29]:
unids.shape

(1070, 6)

In [31]:
for column in unids.columns:
    print(unids[column].value_counts())

PRODUCTO
10001435    1
20001028    1
10094177    1
20000926    1
20000927    1
           ..
10082812    1
10093581    1
10093582    1
10093050    1
20036974    1
Name: count, Length: 1070, dtype: int64
DESCRIPCION
REVECTINA 6MG 2COM                3
CLOR DE PROPAF 300MG 60COM REV    3
PERATIVE RTH            1000ML    3
PEDIASURE COMPLETE CHOCOLATE      3
PEDIASURE PO CHOCOLATE 400GR      3
                                 ..
ESPOJA EM ESPUMA DE POLIETILEN    1
LAMINA PORTIFOLIO                 1
RESIDUAL ALZHEIMER                1
EQ FLEXIFLO ADP DE ROSCA NUT      1
MOVYDIA 200MG 10CAP AG 1          1
Name: count, Length: 970, dtype: int64
CANTIDAD_X_UM1
12      99
112     72
24      70
30      68
50      54
        ..
2        1
5600     1
90       1
3000     1
122      1
Name: count, Length: 90, dtype: int64
CANTIDAD_X_PALLET
6048     68
3136     53
4928     38
1440     31
660      30
         ..
13500     1
11000     1
27500     1
8400      1
750       1
Name: count, Length: 250, dtype: int64
VOLUMES
28      177
40       72
42       61
80       48
56       44
       ...
13        1
196       1
3300      1
280       1
144       1
Name: count, Length: 127, dtype: int64
DIVISÃO
ANI    630
EPD    440
Name: count, dtype: int64

In [32]:
orders.head()

,Sold-to party,Sold-to party Ds,Customer PO number,Customer PO Type,Customer PO Type Ds,Division,Division Ds,Material,Material Ds,Sales document,...,CumConfirmedQty,Net price,Item Extended Unit Price,Net weight,Act.delivery qty,Item Discounts,Item Net Extended Pr,Item S&H Charge,Item S&H Credit,Tax Amount
0,56626288,PREFEITURA MUNICIPAL DE LIMEIRA,115606049,ZCPV,CustomerPortal w/VPC,22,EPD,20000952,Iruxol 0.6IU/G 1x15g tube BR,115606049,...,1500,8.80,13200.00,42.00,NaN,18292.68,0,0,0,1800.00
1,56626288,PREFEITURA MUNICIPAL DE LIMEIRA,115606049,ZCPV,CustomerPortal w/VPC,22,EPD,20030777,Depakene 500mg 1x50Tab BR,115606049,...,1000,24.00,24000.00,88.00,NaN,29268.29,0,0,0,0.00
2,56626435,BRASIL PHARMA HOSPITALAR LTDA,115610137,ZSOL,Solution Sales Order,14,AN,10078594,GLUCERNA 1.5 KCAL TETRA 200ML,115610137,...,300,5.47,1641.00,66.30,NaN,1890.00,0,0,0,250.43
3,56626435,BRASIL PHARMA HOSPITALAR LTDA,115610137,ZSOL,Solution Sales Order,14,AN,10093585,ENSURE PROTEIN RPB BAUNILHA 220ML,115610137,...,0,5.47,1985.61,87.12,NaN,2286.90,0,0,0,303.01
4,56626435,BRASIL PHARMA HOSPITALAR LTDA,115610137,ZSOL,Solution Sales Order,14,AN,20003710,PERATIVE 1L RTH 8CT BRA,115610137,...,70,21.86,1530.20,77.00,NaN,1764.00,0,0,0,233.73

In [33]:
orders.shape

(494938, 29)

In [34]:
for column in orders.columns:
    print(orders[column].value_counts())

Sold-to party
56629490    29663
56627504    21601
56627519    12226
56629435     6621
56627976     5996
            ...
56667231        1
56697457        1
56627021        1
56627735        1
56946352        1
Name: count, Length: 2001, dtype: int64
Sold-to party Ds
PROFARMA DISTR PROD FARM SA            57464
DISTR MEDIC SANTA CRUZ LTDA            52463
PANPHARMA DISTRIB DE MED LTDA          27138
PANPHARMA DISTRIB DE MEDICAMENTOS L    22036
RAIA DROGASIL SA                       18932
                                       ...
ELLO DISTRIBUICAO LTDA                     1
RENATO VERLY MARTINS TEIXEIRA              1
CLINICA DE VAC SANTA CLARA SAO CARL        1
POLLYANNA GOMES NOVAES                     1
CLINICA DA CRIANCA LTDA                    1
Name: count, Length: 1759, dtype: int64
Customer PO number
119501842    224
119506711    224
119473680    188
117824447    188
117819773    188
            ...
116856562      1
116867185      1
118564041      1
118569157      1
119674510      1
Name: count, Length: 76695, dtype: int64
Customer PO Type
ZEDI    348698
ZICU     99503
ZCPV     25414
ZVPC      9917
ZSOL      6807
ZAUT      4555
#           41
ZCNS         3
Name: count, dtype: int64
Customer PO Type Ds
EDI Transmission        348698
Customer Service         99503
CustomerPortal w/VPC     25414
Manual w/VPC              9917
Solution Sales Order      6807
Upload Process            4555
Not assigned                41
Consignment Sales            3
Name: count, dtype: int64
Division
22    391130
14    103808
Name: count, dtype: int64
Division Ds
EPD    391130
AN     103808
Name: count, dtype: int64
Material
20030776    5718
20030777    5050
20032122    5009
20033253    4925
20031686    4786
            ...
10093768       1
10093767       1
10090245       1
10090244       1
20036389       1
Name: count, Length: 563, dtype: int64
Material Ds
Depakene 500mg 1x50Tab BR         9163
Depakene 250mg 1x50cap BR         5724
Sof D 5000IU 1x2Cap Sample BR     5009
Depakene 250mg/5ml 1x100ml BR     4990
Sof D 50000UI 1x2Cap Sample BR    4925
                                  ...
ACTOS 30MG 8COM AG                   1
FEMOSTON 1/10MG 28COM REV AG         1
BETASERC 24MG 15COM AG               1
COREDIOL 3,125MG 8CPR AG             1
DEPAKENE 250MG/5ML 1x100ML UY        1
Name: count, Length: 520, dtype: int64
Sales document
119501842    224
119506711    224
119473680    188
117824447    188
117819773    188
            ...
116856562      1
116867185      1
118564041      1
118569157      1
119674510      1
Name: count, Length: 76695, dtype: int64
Sales Order Item
10      77311
20      52325
30      41087
40      35674
50      30724
        ...
2020        2
2140        2
2130        2
2220        2
49          1
Name: count, Length: 225, dtype: int64
Reason for order
#      410247
Z79     83784
Z64       466
Z97       240
Z85       167
Z63        19
Z61         5
Z37         3
Y21         2
Y34         2
Z62         1
Z66         1
Y35         1
Name: count, dtype: int64
Reason for order Ds
#                                 410247
No Charge- Samples                 83784
Export Sales                         466
3rd Party Supply Order               240
(BR) Zero Contract                   167
Inter State Sales                     19
Consignment                            5
Error - System Related                 3
Billing - Pricing Manual               2
Error - Duplicate Order                2
Intra State Sales                      1
Ship Pnt - Packaging Issue             1
Error - Incorrect Account Used         1
Name: count, dtype: int64
Reason for rejection
#     406291
68     31964
73     26512
75     10898
61      6566
62      4796
74      3888
85      1071
63      1044
90       364
82       335
70       300
60       293
69       259
79       224
71        74
66        49
67         5
80         2
64         1
65         1
72         1
Name: count, dtype: int64
Reason for rejection Ds
Not assigned                              406291
Material - Backorder Cancelled             31964
Cancel - Sales Rep                         26512
Cancel - Order Monitoring                  10898
Cancel - Customer                           6566
Cancel - Duplicate Order                    4796
Material - Discontinued Product             3888
Material - Short Dated Material             1071
Return - Rejected                           1044
Unknown                                      364
Material - Lot/Batch NA by Date Rqustd       335
Incorrect - Item                             300
Cancel - Duplicate Item                      293
Incorrect - Customer Number                  259
Incorrect - Discount/Price                   224
Incorrect - Quantity                          74
Material - Not Available                      49
Not Approved - Restricted Product              5
Incorrect - Terms of Payment                   2
Cancel - CSO/Other Dept                        1
Not Approved - by Reviewer                     1
Change Shipping Location                       1
Name: count, dtype: int64
Sales doc. type
ZOR    409886
ZFD     85047
ZKB         5
Name: count, dtype: int64
Sales doc. type Ds
Standard Order         409886
Free of Charge          85047
Consignment Fill-up         5
Name: count, dtype: int64
SO Creation Date
2023-01-03    6477
2022-03-04    5933
2023-05-29    5751
2023-09-15    5603
2022-09-14    4701
              ...
2022-12-30       1
2023-03-18       1
2023-07-23       1
2023-04-16       1
2023-04-21       1
Name: count, Length: 515, dtype: int64
Order quantity
12       37737
24       31808
36       19361
48       18048
112      15994
         ...
8403         1
16400        1
18500        1
3481         1
1711         1
Name: count, Length: 3798, dtype: int64
CumConfirmedQty
12       36447
24       30763
36       18793
48       17570
112      15872
         ...
4390         1
8424         1
10003        1
10004        1
1711         1
Name: count, Length: 3750, dtype: int64
Net price
0.00      69463
99.46      2621
5.72       2179
15.75      2130
112.38     2105
          ...
120.25        1
63.67         1
314.91        1
5.50          1
2.39          1
Name: count, Length: 7205, dtype: int64
Item Extended Unit Price
0.00        69463
1193.52       779
1348.56       733
819.84        653
1196.88       593
            ...
11433.84        1
26901.00        1
19350.10        1
990.76          1
4493.88         1
Name: count, Length: 77005, dtype: int64
Net weight
9.600       11364
10.200       8045
19.200       4677
4.048        4508
20.400       3717
            ...
170.670         1
199.200         1
152.400         1
1587.885        1
30.798          1
Name: count, Length: 13772, dtype: int64
Series([], Name: count, dtype: int64)
Item Discounts
1375.78      794
1554.58      735
0.00         733
540.32       728
945.13       655
            ...
22076.22       1
566100.00      1
439.40         1
347.34         1
4493.88        1
Name: count, Length: 94083, dtype: int64
Item Net Extended Pr
0    494938
Name: count, dtype: int64
Item S&H Charge
0    494938
Name: count, dtype: int64
Item S&H Credit
0    494938
Name: count, dtype: int64
Tax Amount
0.00       75092
182.29       779
205.98       735
125.23       651
182.80       593
           ...
21.51          1
654.23         1
324.20         1
1036.50        1
171.52         1
Name: count, Length: 81830, dtype: int64